<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Treenimemo</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<style>
	table {
  	font-family: arial, sans-serif;
 	border-collapse: collapse;
  	width: 100%;
	}

	td, th {
	border: 1px solid #dddddd;
  	text-align: left;
  	padding: 8px;
	}

	tr:nth-child(even) {
  	background-color: #dddddd;
	}
</style>
<body>
	
		<h2>Tervetuloa</h2>
	
	<table>
	<tr>
		<th>Viikon päivä</th>
		<th>Päivämäärä</th>
		<th>Harjoitus</th>
		<th>Tehoalue</th>
		<th>Kesto min</th>
		<th>Kulutus kcal</th>
		
	</tr>
				<tr th:each = "note : ${notes}">
					<td th:text="${note.day}"></td>
					<td th:text="${note.date}"></td>
					<td th:text="${note.workout.name}"></td>
					<td th:text="${note.power.name}"></td>
					<td th:text="${note.time}"></td>
					<td th:text="${note.kcal}"></td>
					<td><a th:href="@{/delete/{id}(id=${note.id})}" class="btn btn-xs btn-danger"onclick="return confirm('Haluatko varmasti poistaa tiedot?');">Poista</a></td> 
				</tr>
	</table>
	<a href="/edit" class="btn btn-primary">Muokkaa tietoja</a>
	<a href="/add" class="btn btn-primary">Lisää harjoitus</a>
</body>
</html>