<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Treenimemo</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<style>
	tr:nth-child(even) {
  	background-color: #dddddd;
	}
</style>
<body>
	<div>
	<h2 sec:authorize="hasAuthority('USER')" th:inline="text">Your mind, [[${#httpServletRequest.remoteUser}]], greates your body</h2>
	</div>
	<br>
	<div class="col-md-4" style="padding:15px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-md btn-warning"/>
		</form>
	</div>
	
	<table class="table table-bordered table-responsive-md table-striped text-center">
	<tr>
		<th class="text-center">Harjoitusviikko</th>
        <th class="text-center">Päivämäärä</th>
        <th class="text-center">Harjoitus</th>
        <th class="text-center">Tehoalue</th>
        <th class="text-center">Kesto min</th>
        <th class="text-center">Kulutus kcal</th>
        <th sec:authorize="hasAuthority('USER')"> </th>
        <th sec:authorize="hasAuthority('ADMIN')"> </th>
	</tr>
			<tr th:each = "note : ${notes}">
				<td contenteditable="true" th:text="${note.wow}"></td>
				<td contenteditable="true" th:text="${note.date}"></td>
				<td contenteditable="true" th:text="${note.workout.name}"></td>
				<td contenteditable="true" th:text="${note.power.name}"></td>
				<td contenteditable="true" th:text="${note.time}"></td>
				<td contenteditable="true" th:text="${note.kcal}"></td>
				<td sec:authorize="hasAuthority('USER')"><a th:href="@{/delete/{id}(id=${note.id})}" class="btn btn-xs btn-danger"onclick="return confirm('Haluatko varmasti poistaa tiedot?');">Poista</a></td> 
				<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/muokkaa/{id}(id=${note.id})}" class="btn btn-xs btn-default">Muokkaa</a></td>
				</tr>
	</table>
	<a href="/lisaa" class="btn btn-md btn-success btn-block">Lisää harjoitus</a>
</body>
</html>